*.cdb
*.hdb
*.qmsg
*.rdb
*.ddb
*.xml
*.bpm
*.logdb
*.hsd
*.kpt
*.hier_info
*.db_info
*.summary
*.hif
*.html
*.txt
*.sci
*.done
*.rpt
*.smsg
*.pin
*.sof
*.dfp
*.rcfdb
*.dpi
*.hb_info
*.sig
*.tdb
*.tmw_info
*.dat
*.syn_hier_info
*.sft
*.vo
*.sdo
*.xrf
*.rvd
*.bak
*.cdf
*.csv
*.tcl
*.qws
*.pof
*.qdf
*.abo
*.wsf
*.cvwf
*.vwf
*.v~
*.dpf
*.ini
1.1 Easy to understand/le12_mux16/simulation/modelsim/msim_transcript
*.do
*.prw
*.psm
*.dbs
*.vhd
*.
1.1 Easy to understand/le12_mux16/simulation/modelsim/rtl_work/_vmake
1.1 Easy to understand/le12_mux16/simulation/modelsim/maxii_atoms.v
1.1 Easy to understand/le12_mux16/simulation/modelsim/rtl_work/_info
1.1 Easy to understand/le12_mux16/simulation/modelsim/vtf_test.v
1.1 Easy to understand/le13_VGA/simulation/modelsim/msim_transcript
*.wlf
1.1 Easy to understand/le13_VGA/simulation/modelsim/rtl_work/_vmake
1.1 Easy to understand/le13_VGA/simulation/modelsim/rtl_work/_info