*.cdb
*.hdb
*.qmsg
*.rdb
*.ddb
*.xml
*.bpm
*.logdb
*.hsd
*.kpt
*.hier_info
*.db_info
*.summary
*.hif
*.html
*.txt
*.sci
*.done
*.rpt
*.smsg
*.pin
*.sof
*.dfp
*.rcfdb
*.dpi
*.hb_info
*.sig
*.tdb
*.tmw_info
*.dat
*.syn_hier_info